In [1]:
import pandas as pd

In [2]:
ny_citibike = pd.concat(map(pd.read_csv, ['Resources/JC-202401-citibike-tripdata.csv',
                                          'Resources/JC-202402-citibike-tripdata.csv',
                                          'Resources/JC-202403-citibike-tripdata.csv']),
                                          ignore_index=True)
ny_citibike.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0744109F13385D1D,electric_bike,2024-01-15 15:18:07,2024-01-15 15:32:44,Morris Canal,JC072,Oakland Ave,JC022,40.712297,-74.038185,40.737604,-74.052478,member
1,B1488BFEF9118000,classic_bike,2024-01-13 15:32:50,2024-01-13 15:36:18,JC Medical Center,JC110,Grove St PATH,JC115,40.715391,-74.049692,40.719410,-74.043090,member
2,95A2FE8E51B4C836,classic_bike,2024-01-19 13:11:00,2024-01-19 13:14:44,Morris Canal,JC072,Exchange Pl,JC116,40.712419,-74.038526,40.716366,-74.034344,member
3,95D9AFF6A1652DC1,classic_bike,2024-01-23 07:03:49,2024-01-23 07:07:11,Morris Canal,JC072,Exchange Pl,JC116,40.712419,-74.038526,40.716366,-74.034344,member
4,5F7408988A83B1B3,classic_bike,2024-01-01 16:46:10,2024-01-01 16:50:31,Morris Canal,JC072,Harborside,JC104,40.712419,-74.038526,40.719252,-74.034234,member

In [3]:
ny_citibike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171855 entries, 0 to 171854
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             171855 non-null  object
 1   rideable_type       171855 non-null  object
 2   started_at          171855 non-null  object
 3   ended_at            171855 non-null  object
 4   start_station_name  171780 non-null  object
 5   start_station_id    171780 non-null  object
 6   end_station_name    171330 non-null  object
 7   end_station_id      171312 non-null  object
 8   start_lat           171855 non-null  float64
 9   start_lng           171855 non-null  float64
 10  end_lat             171801 non-null  float64
 11  end_lng             171801 non-null  float64
 12  member_casual       171855 non-null  object
dtypes: float64(4), object(9)
memory usage: 17.0+ MB

In [7]:
new_ny_citibike = ny_citibike.dropna()
new_ny_citibike.info()

<class 'pandas.core.frame.DataFrame'>
Index: 171276 entries, 0 to 171854
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             171276 non-null  object
 1   rideable_type       171276 non-null  object
 2   started_at          171276 non-null  object
 3   ended_at            171276 non-null  object
 4   start_station_name  171276 non-null  object
 5   start_station_id    171276 non-null  object
 6   end_station_name    171276 non-null  object
 7   end_station_id      171276 non-null  object
 8   start_lat           171276 non-null  float64
 9   start_lng           171276 non-null  float64
 10  end_lat             171276 non-null  float64
 11  end_lng             171276 non-null  float64
 12  member_casual       171276 non-null  object
dtypes: float64(4), object(9)
memory usage: 18.3+ MB

In [8]:
new_ny_citibike.to_csv('JC-2024Q1-citibike-tripdata.csv', index=False)